@import "../variables.scss";

.btn {
    background-color: transparent;
    @include border;
    cursor: pointer;

}

.closeBtn {
    position: absolute;
    z-index: 20;
    right: 10px;
    top: 10px;

    height: 15px;
    width: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sizeBtn {
    width: 99px;
    height: 35px;
    margin-right: 15px;
    margin-bottom: 15px;

}

.buyBtn {
    height: 50px;
    background-color: $blue;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    width: 49%;

}

@media (min-width: $mobileL) {
    .closeBtn {
        top: 24px;
        right: 20px;
    }

    .sizeBtn {
        margin-bottom: 0px;

    }

    .buyBtn {
        width: 218px;
        margin-left: 10px;
    }
}