@import "../variables.scss";


.closeBtn {
    position: absolute;
    right: 20px;
    top: 20px;

    height: 15px;
    width: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sizeBtn {
    width: 99px;
    height: 35px;
    @include border;
    margin-right: 15px;
}

.buyBtn {
    width: 218px;
    height: 50px;
    background-color: $blue;
}