.primary {
    background-color: #2b8ff4;
}

.green {
    background-color: rgb(98, 212, 128);
}

.orange {
    background-color: rgb(244, 152, 43);

}

.violet {
    background-color: rgb(160, 101, 224);

}

.red {
    background-color: rgb(239, 63, 63)
}

.primary-light {
    background-color: rgba(43, 143, 244, 0.2);
}

.green-light {
    background-color: rgba(98, 212, 128, 0.2);
}

.orange-light {
    background-color: rgba(244, 152, 43, 0.2);

}

.violet-light {
    background-color: rgba(160, 101, 224, 0.2);

}

.red-light {
    background-color: rgba(239, 63, 63, 0.2);
}