@media (min-width: 769px) {
    body {
        display: flex;

    }

    .app {
        width: 100%;
    }

    .menu {
        display: block;
        position: static;
    }

    // .row {
    //     display: block;
    // }

    // .card-filters {
    //     float: left;
    //     width: 30%;
    // }

    // .cards {
    //     flex-direction: row;
    // }

    // .tab {
    //     float: left;
    //     width: 67%;
    //     margin-left: 10px;
    // }

    // .card-files {
    //     width: 30%
    // }

    // .grid-1 {
    //     display: grid;
    //     grid-template-columns: 1fr 1fr 1fr 1fr;
    //     grid-template-rows: 1fr 1fr 1fr 1fr;
    // }

    // .cards {
    //     flex-direction: row;
    // }

    // .content-1 {
    //     grid-row: 1 / 6;
    //     grid-column: 1/3;
    // }

    // .content-2 {
    //     grid-row: 1;
    //     grid-column: 3/8
    // }
}