@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: $text;
  font-size: 16px;
  @include center;
  height: 100vh;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

label {
  width: 100%;
  font-size: 13px;
  margin-bottom: 7px;
}