@import './vars';
@import url('https://rsms.me/inter/inter.css');

@supports (font-variation-settings: normal) {
    html {
        font-family: 'Inter var', sans-serif;
    }
}

* {
    box-sizing: border-box;
}

p {
    margin: 0;
    padding: 0;
    display: inline-block;

}

h1 {
    font-size: 24px;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

body {
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: #ebedee;
    font-family: $font;
}

nav {
    background-color: #191d1f;
    color: rgb(143, 143, 143);
    font-size: 14px;

    .card-header {
        border: none;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            display: flex;
            align-items: center;
        }

        .img-logo {
            margin-right: 23px;
        }

        .logo-content {
            background-color: rgba(255, 255, 255, 0.1);
            height: 100%;
            padding: 9px 16px;
            border-radius: 4px;
            height: 40px;

            p {
                color: #2b8ff4;
            }
        }

        div {
            display: flex;
            align-items: center;
            border-radius: 4px;

        }

    }


}



select {
    width: 100%;
    height: 48px;
    border-radius: 4px;
    margin-top: 16px;
    margin-bottom: 14px;
}


.container {
    margin: 24px;
    transition: 0.5s linear
}


.menagmentDasboard {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
        margin-left: 24px
    }

    .circles {
        border-left: 2px solid #ebedee;
        height: 64px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 24px;

        div {
            width: 24px;
            display: flex;
            justify-content: space-between;

            .circle {
                width: 4px;
                height: 4px;
                margin-right: 0px;

            }
        }
    }
}

.dashboard {
    display: flex;
    align-items: center;
    padding-bottom: 24px;
    justify-content: space-between;

}

.circle {
    border-radius: 50%;
    width: 52px;
    height: 52px;
    margin-right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rectangle {
    width: 51px;
    height: 51px;
    border-radius: 4px;

    margin: 15px 24px 0 0;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}





.ml-auto {
    margin-left: auto;
}


.mutte {

    font-size: 12px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: $font-mute;
}

.opacity {
    opacity: 0.2;
    transition: 0.5s linear
}